.sets--container {
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 25px;
}

.sets--container > * {
    margin: 10px;
}

